.background {
  width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -1;
  background-color: black;
}

.bg1{
  position: fixed;
  bottom: 0px;
  max-width: 100vw;
  z-index: 21;
  background-size: cover;
}

.bg1 img {
  max-width: 100%;
  max-height: 100%;
}


#sun {
	position: absolute;
	top: 0px;
	left: 0%;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;   
  background: -webkit-radial-gradient(bottom, circle, rgba(242,248,247,1) 0%,rgba(249,249,28,1) 3%,rgba(247,214,46,1) 8%, rgba(248,200,95,1) 12%,rgba(201,165,132,1) 30%,rgba(115,130,133,1) 51%,rgba(46,97,122,1) 85%,rgba(24,75,106,1) 100%);
  background: -moz-radial-gradient(bottom, circle, rgba(242,248,247,1) 0%,rgba(249,249,28,1) 3%,rgba(247,214,46,1) 8%, rgba(248,200,95,1) 12%,rgba(201,165,132,1) 30%,rgba(115,130,133,1) 51%,rgba(46,97,122,1) 85%,rgba(24,75,106,1) 100%);
  background: -ms-radial-gradient(bottom, circle, rgba(242,248,247,1) 0%,rgba(249,249,28,1) 3%,rgba(247,214,46,1) 8%, rgba(248,200,95,1) 12%,rgba(201,165,132,1) 30%,rgba(115,130,133,1) 51%,rgba(46,97,122,1) 85%,rgba(24,75,106,1) 100%);
  z-index: 10;
  opacity: 0.5;
}

#sunDay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;   
  background: -webkit-radial-gradient(bottom, circle, rgba(252,255,251,0.9) 0%,rgba(253,250,219,0.4) 30%,rgba(226,219,197,0.01) 70%, rgba(226,219,197,0.0) 70%,rgba(201,165,132,0) 100%);
  background: -moz-radial-gradient(bottom, circle, rgba(252,255,251,0.9) 0%,rgba(253,250,219,0.4) 30%,rgba(226,219,197,0.01) 70%, rgba(226,219,197,0.0) 70%,rgba(201,165,132,0) 100%);
  background: -ms-radial-gradient(bottom, circle, rgba(252,255,251,0.9) 0%,rgba(253,250,219,0.4) 30%,rgba(226,219,197,0.01) 70%, rgba(226,219,197,0.0) 70%,rgba(201,165,132,0) 100%);
  z-index: 15;
  opacity: 0.5;
}

#moon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;   
  background: -webkit-radial-gradient(40% 55%, circle, rgba(249,249,250,1) -1%, rgba(189,255,254,1) 1%, rgba(8,49,78,1) 1%, rgba(8,26,56,1) 10%, rgba(4,16,46,1) 40%, rgba(2,8,13,1) 70%);
  background: -moz-radial-gradient(40% 55%, circle, rgba(249,249,250,1) -1%, rgba(189,255,254,1) 1%, rgba(8,49,78,1) 1%, rgba(8,26,56,1) 10%, rgba(4,16,46,1) 40%, rgba(2,8,13,1) 70%);
  background: -ms-radial-gradient(40% 55%, circle, rgba(249,249,250,1) -1%, rgba(189,255,254,1) 1%, rgba(8,49,78,1) 1%, rgba(8,26,56,1) 10%, rgba(4,16,46,1) 40%, rgba(2,8,13,1) 70%);
  z-index: 20;
  opacity: 0;  
}

#sunSet {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;   
  background: -webkit-radial-gradient(bottom, circle, rgba(254,255,255,0.8) 5%,rgba(236,255,0,1) 10%,rgba(253,50,41,1) 25%, rgba(243,0,0,1) 40%,rgba(93,0,0,1) 100%);
  background: -moz-radial-gradient(bottom, circle, rgba(254,255,255,0.8) 5%,rgba(236,255,0,1) 10%,rgba(253,50,41,1) 25%, rgba(243,0,0,1) 40%,rgba(93,0,0,1) 100%);
  background: -ms-radial-gradient(bottom, circle, rgba(254,255,255,0.8) 5%,rgba(236,255,0,1) 10%,rgba(253,50,41,1) 25%, rgba(243,0,0,1) 40%,rgba(93,0,0,1) 100%);
  
  z-index: 15;
  opacity: 0.3;
}

#sky {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 5; 
  background: -webkit-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
  background: -moz-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
  background: -ms-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
  background: linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
  opacity: 0.52;
}

#darknessOverlay {
  cursor: default;
  background-color: #000;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 12;
}


.bird{
  background-size: 80%;
  background-repeat: no-repeat;
  width: 100px;
  height: 125px;
  will-change: background-position;
  z-index: 70;
}

.bird--one{
  background-image: url(./../assets/bird3.gif);
}

.bird--two{
  background-image: url(./../assets/bird.gif);
  transform: scaleX(-1);
}

.bird-container{
  position: absolute;
  left: -10%;
  will-change: transform;
  z-index: 70;
  transform: scale(0) translateX(-10vw);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-delay: 0;
}

.bird-container--one{
	top: 5%;
	animation-name: fly-right-one;
}
.bird-container--two{
	top: 60%;
	animation-name: fly-right-two;
}


@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-20vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(0vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-5vh) translateX(20vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(30vw) scale(0.6);
	}
	
	40% {
		transform: translateY(-4vh) translateX(40vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(50vw) scale(0.6);
	}
	
	60% {
		transform: translateY(-4vh) translateX(60vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
}
@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(90vw) scale(0.5);
	}
	
	10% {
		transform: translateY(3vh) translateX(90vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-8vh) translateX(80vw) scale(0.6);
	}
	
	30% {
		transform: translateY(5vh) translateX(70vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(60vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(50vw) scale(0.45);
	}
	
	80% {
		transform: translateY(-5vh) translateX(20vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(-10vw) scale(0.45);
	}
	
}